{% extends 'learning/layout.html' %}
{% block title %}{{subject.name}}{% endblock %}
{% block body %}
{% if scores %}
<h3>{{avg_point}}</h3>
<h2>{{subject.name}} scores</h2>
<h4>Average score: {{subject.avg_point}} ({{e}})</h4>
{% for score in scores %}
<div>
    <h5>{{score.point}}</h5>
    <p>x{{score.kind}}</p><br>
    <form action="{% url 'subject' score.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="score" value="{{score.id}}">
    <input type="submit" class="btn btn-danger" value="Delete">
    </form>
</div>
{% endfor %}
{% else %}
Nothing yet...
{% endif %}
<button class="btn btn-primary">Submit a score</button><Br><br>
    <form action="{% url 'scores' %}" method="POST" style="display:none;">
        {% csrf_token %}
        <label for="kind">Kind</label>
        <select id="kind" name="kind">
            <option value="1">15 minutes test</option>
            <option value="2">midterm test</option>
            <option value="3">final test</option>
        </select><br><br>
    
        Score: <input type="number" name="score"><br><br>
        <input type="submit" class="btn btn-outline-primary">
    </form>
<script>
    times = 0;
    document.querySelector('button').onclick = () => {
        if(times == 0){
            document.querySelector('form').style.display = "block"
            times++
        }
        else {
            document.querySelector('form').style.display = "none"
            times--
        }
    }
</script>
{% endblock %}